
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family:'Monserrat', 'sans-serif';
}
/* Header navbar */
nav {
  border: 1px solid black;
 
  }
.navbar-nav {
    width: auto; 
}
.navbar-collapse {
    padding: 0.5rem 1rem;
}
.navbar-nav {
    width: auto;
    overflow: visible;
}

.navbar-nav .nav-link {
    color: white;
    display: inline-block; 
    transition: transform 0.2s ease-out,color 0.2s ease-in ; 
    font-size: 20px;
}
input{
  width: 180px;
}
.navbar-nav .nav-link:hover {
  transform: scale(1.15);
  transform-origin: center;
}
img {
    width: 70px;
    height: auto;
}
i{
    width: 80px;
}
.navbar-toggler {
    border: none;
    font-size: 1.em;
}
.navbar-toggler:focus {
    box-shadow: none;
}

/* list product */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.dropdown-menu {
  background: #1a1d29;
  border: 1px solid #2a2e40;
}
.dropdown-item {
  color: #cfcfcf;
}
.dropdown-item:hover {
  background: #2a2e40;
  color: #fff;
}

/* Hero sec */
.hero-section {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: linear-gradient(135deg, #6b728053, #ffffff31);
}

.img-wrapper {
  perspective: 3000px;
}

.img-wrapper img {
  transition: transform 0.4s ease;
}
.img-wrapper img:hover {
  transform: translateZ(60px) scale(1.25);
  z-index: 1;
  position: relative;
}
.V{
  color: rgba(128, 0, 128, 0.42);
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
.card-1 {
  position: relative;
  background: #1c1f2b;
}

.card-1::after, .card-1::before {
  content: '';
  position: absolute;
  height: 108%; 
  width: 103%;
  background: conic-gradient(
    from var(--angle), 
    rgba(255, 0, 0, 0.4),     
    rgba(255, 0, 255, 0.4),   
    rgba(0, 0, 255, 0.4),     
    rgba(0, 255, 255, 0.4),   
    rgba(0, 255, 0, 0.4),     
    rgba(255, 255, 0, 0.4),  
    rgba(255, 0, 0, 0.4)     
  );
  
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 4px; 
  animation: Cardspin 4s linear infinite; 
}
.card-1::before {
  filter: blur(2rem); 
  opacity: 0.4;       
}

@keyframes Cardspin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
/* Carousel */
.carousel{
  width: 100%;
  border: 1px solid black;
  display: flex;
  overflow-x: auto;
}
.carousel::-webkit-scrollbar{
  display:none;
}
.group{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 7s infinite linear;
  padding-right: 1em;
  flex-shrink: 0;

}
.group img {
  width: 150px;
  height: auto;
  object-fit: contain;
}
@keyframes spin{
  from{translate:0;}
  to {translate: -100%;}
  
}

/* Card product */

.card.product-card {
  overflow: hidden;
  border-radius: 20px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;

}
.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
}

.card-img-top {
  height: 220px;
  object-fit: cover;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.12);
}
.card-img-top-1{
  height: 220px;
  object-fit: cover;
  width: 100%;
}

.b{
   background-color: rgba(128, 128, 128, 0.12);
}

.icon{
  width: 150px;
}

/* footer */
.footer-img {
  width: 60px;
  height:100%;
}
.footer-icon a {
  width: auto;
  transition: transform 0.25s ;
}
.footer-icon a:hover {
  transform: scale(1.15);
  transform-origin: center;
}
.h5{
  font-size: 100px;
}


.typing-text {
  overflow: hidden; 
  border-right: 3px solid rgb(237, 147, 237); 
  white-space: nowrap; 
  letter-spacing: 2px;
  
  animation: 
    typing 3.5s steps(16) infinite alternate,
    blink-cursor 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 90%; }
}

@keyframes blink-cursor {
  from, to { border-color: transparent; }
  50% { border-color: rgb(0, 0, 0); }
}
